






#gameBoard {
	width: 700px; 
	height: 500px; 
	margin: 0px auto -1px auto;	
	bottom: 100px;
	top: 100px;
	background: grey;
	padding-left: auto;
	padding-top:10px;
	padding-right: auto;
	padding-bottom:30px;
	border-radius: 12px;
}	

.gamePiece {
	background-color: white;
  width: 160px;
  height: 110px;
  border: 1px solid black;
 	float: left;
 	padding-left: 10px;
 	padding-top: 10px;
 	margin-left: 15px;
 	margin-top: 15px;

}

header {
	border: 1px solid black;
}

footer {
		border: 1px solid black;
		
}

#ghLink {
	text-align: right;
}

